{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode gzip zstd

	@backend path_regexp ^/(api|actuator)(/|$)
	handle @backend {
		reverse_proxy backend:8080
	}

	root * /srv
	try_files {path} /index.html
	file_server
}
